body {
	overflow: hidden;
}

#rooms-list {
	height: 30%;
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
	background: #CECECD;
}

#chats-list {
	height: 40%;
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
	background: #CECECD;
}

#header-pane {
	height: 50px;
	margin-top:2%;
	margin-left:5px;
	margin-right:5px;
	background: #ffffff;
}

#messages-pane {
	height: 400px;
	border-radius: 4px;
	overflow-y: scroll;
	margin: 10px;
	background: #CECECD;
	font-family: 'Roboto', sans-serif;
}


.button:hover {
	color: #ffffff;
	background-color: #494949;
	cursor: pointer;
}

.button {
	color: #494949;
	text-align: center;
	padding: 3%;
	background-color: #A0A0A0;
	margin-top: 3%;
}

.header {
	text-align: center;
	position: relative;
}

.remove-button {
	height: 1.5em;
	width: 1.5em;
	float: right;
	position: relative;
	z-index: 10;
}

.notify-badge {
	float: right;
	font-weight: bold;
	color: red;
}

.remove-button:hover {
	cursor: pointer;
	margin-right: 5px;
	height: 1.5em;
	width: 1.5em;
	background: url('images/remove.svg');
	float: right;
	position: relative;
	z-index: 10;
}

.text {
	color: #494949;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
}

.message-sender {
	font-size: .9em;
}

.message-time {
	font-size: .6em;
}

.user-avatar-image {
	max-width : 60px;
	max-height: 60px;
	border-radius: 50%;
	padding-bottom: 1em;
}

.user-active, .user-active-dot {
	background : #548e28;
}

.user-active-dot, .user-inactive-dot {
	min-height: 5px;
	min-width: 20px;
}

.user-chat {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5px;
}

.user-chat:hover {
	background-color: #A0A0A0;
	color: #FFFFFF;
	cursor: default;
}

.user-inactive, .user-inactive-dot {
	background : #D90F0F;
}

.mentioned-user {
	color : blue;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.chat-message-image {
	width : 50%;
	height : 50%;
}

.link-summary-body {
	font-style: italic;
	font-size: 10px;
}

.link-summary-footer {
	margin: 5px;
	font-style: oblique;
}

.emoticon {
	height : 30px;
	width : 30px;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
